## Analyse jährliche CO2-Emission
Gruppe: Jessica Itulah, Michelle Assadi, Medhani Kathirkamanathan

Fragestellung:

Welche Unterschiede und Trends lassen sich in den CO₂-Emissionen pro Kopf ausgewählter Länder über den Zeitraum 2013–2023 identifizieren, und welche Faktoren könnten diese Entwicklungen beeinflusst haben?

Quellen

https://ourworldindata.org/grapher/annual-co2-emissions-per-country

## 1. Daten beschaffen und laden

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('annual-co2-emissions-per-country.csv', skiprows=1,
                 names=['Gebiet','Code','Jahr','Tonnen']) 
df.head()

        Gebiet Code  Jahr    Tonnen
0  Afghanistan  AFG  1949   14656.0
1  Afghanistan  AFG  1950   84272.0
2  Afghanistan  AFG  1951   91600.0
3  Afghanistan  AFG  1952   91600.0
4  Afghanistan  AFG  1953  106256.0